.container {
    color: #444;
}

a {
    font-weight: bold;
    color: #339999;
}

a:hover {
    text-decoration: none;
    color: red;
}


.jumbotron {
    background: #fff;
}

.header {
    background: #ccc;
    margin-top: -50px;
    padding: 5px 0px 5px 8px;
    border-radius: 10px;
    font-weight: bold;
    color: #555;
}

.top-table img {
    border-radius: 15px;
    border: 2px solid #bbb;
}

.short-profile {
    background: #fff;
    border: 0px solid #ddd;
    border-radius: 20px;
    margin-left: -15px;
}

.top-content {
    margin-bottom: -90px;
}

.short-profile h3 {
    color: #444;
    background: #bbb;
}

p.profile-section {
    margin-bottom: 30px;
}

.short-profile h4 {
    color: #555;
    font-weight: bold;
    margin-bottom: 0px;
}

.section h2 {
    color: #ccc;
    font-weigh: bold;
    border-radius: 8px;
    padding: 3px 6px 2px 12px;
    margin: 0px;
}

.section p {
    margin-top: 10px;
}

.research-color h2 {
    background: #0099aa;
}

.project-color h2 {
    background: #66aaaa;
}

.pub-color h2 {
    background: #6699aa;
}

p.article {
    margin-top: 8px;
    margin-bottom: 18px;
    font-size: 90%;
}

.article a {
    color: #blue;
}

.article b {
    font-weight: bold;
    color: red;
}

.project {

}

.project h5 {

}

footer {
    font-style: italic;
}

footer p {
    font-size: 9pt
}

footer a {
    color: #333;
    font-weight: normal;
}
